header {
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: none;
    color: blue;
    font-size: 1.3em;
    font-style: italic;
	text-align: center;
  }
img {
	
		display: block;
		height: 200px;
		width: 300px;
		margin: auto;
	}
.appreciation {
	border: 2px solid green;
	text-align: center;
	display: block;
			  }

.credits {
	border: 2px solid blue;
	background-color: blue
		 }
#opening{
    background-color: yellow;
	text-align: center;
	color: blue;
	
		    }

